#Main
{
    background: #090909;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -12px;
}

#MainCanvas
{
    background: #000000;
    float: right;
    
    border-style: solid;
    border-color: #000000;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
}

#Header
{
    float: left;
    position: relative;
    transform: rotate(270deg);
    height: 10px;
    width 10px;
}

#Footer
{
    background: #000000;
    height: 70px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    border-color: #000000;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.FooterText
{
    font-family: Galvji;
    color: #ea8f2a;
    font-size: 10;
    margin-right: 4%;
}

a:hover
{
    color: #f1cf7f;
    text-decoration: none;
}

.Links
{
    font-family: Galvji;
    color: #ea8f2a;
    font-size: 15;
    text-decoration: none;
}

#Psvg
{
    fill: #eecd7d;
    height: 10px;
    width: 100px;
    border: 3px solid red;
}
