#Body
{
    margin: 0;
}

#Main
{
    width: 100%;
    height: 100%;
    min-width: 40rem;
    min-height: 35rem;
    z-index: 1;
}

#BackgroundTitle
{
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: -10;
    color: #f1cf7f;
    position: fixed;
}

#BackgroundText
{
    text-align: center;
    font-size: 28vw;
    font-family: PingFang HK;
    color: #101010;
    margin-left: 30%;
    margin-top: 6%;
    line-height: 100%;
    letter-spacing: -2rem;
    animation-name: FadeInBackground;
    animation-duration: 5s;
}

#Header
{
    width: 20%;
    height: 85%;
    float: left;
    min-width: 12rem;
}

#StripD
{
    background: #ea8f2a;
    width: 50%;
    height: 100%;
    float: left;
}

#StripM
{
    background: #eeab53;
    width: 66%;
    height: 100%;
    float: left;
}

#StripL
{
    background: #f1cf7f;
    width: 50%;
    height: 100%;
    float: left;
}

#TitleBox
{
    width: 45%;
    height: 100%;
    float: right;
}

#SubTitle
{
    width: 100%;
    height: 100%;
}

#TitleSpacer
{
    height: 80%;
    width: 100%;
}

#Title
{
    width: 100%;
    height: 20%;
    float: left;
}

#TitleText
{
    font-size: 50;
    font-family: PingFang HK;
    letter-spacing: 24;
    color: #f1cf7f;
    transform: rotate(270deg);
    line-height: 0.9;
    animation-name: FadeIn;
    animation-duration: 2s;
}

#SubTitleText
{
    font-size: 20;
    font-family: PingFang HK;
    color: #f1cf7f;
    letter-spacing: 1rem;
    line-height: 0.9;
    animation-name: FadeIn;
    animation-duration: 2.5s;
}


#Footer
{
    float: left;
    width: 100%;
    height: 15%;
    position: relative;
    bottom: 0;
    min-height: 5rem;
}

#QuickNav
{
    float: right;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#NavBar
{
    text-align: center;
    font-size: 20;
    font-family: PingFang HK;
    letter-spacing: 0.2rem;
    color: #f1cf7f;
    padding: 1rem;
    word-spacing: 0.5vw;
    animation-name: FadeIn;
    animation-duration: 3s;
}

a:hover
{
    color: #ffffff;
    text-decoration: none;
    opacity: 100%;
}

.Links
{
    text-decoration: none;
    color: #f1cf7f;
    animation-name: FadeIn;
    animation-duration: 3s;
}

#BottomBorder
{
    background: #000000;
    width: 100%;
    height: 10%;
    float: right;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#FooterSpacer
{
    float: left;
    width: 10%;
    height: 100%;
    min-width: 6rem;
}

#SpacerM
{
    width: 66%;
    height: 100%;
    background: #eeab53;
    float: left;
}

#SpacerL
{
    width: 50%;
    height: 100%;
    background: #f1cf7f;
    float: left;
}

#FooterD
{
    background: #ea8f2a;
    width: 60%;
    height: 100%;
}

#FooterM
{
    background: #eeab53;
    width: 35%;
    height: 90%;
    float: left;
    position: absolute;
    bottom: 0;
    margin-left: 6.5%;
}

#FooterL
{
    background: #f1cf7f;
    width: 57.5%;
    height: 90%;
    float: left;
    position: absolute;
    bottom: 0;
    margin-left: -10%;
}


#SlideShow
{
    padding-top: 9%;
    margin-right: 5%;
    width: 60%;
    height: 60%;
    float: right;
    overflow: hidden;
    position: relative;
}

.ImageList
{
    width: 100%;
    height: 100%;
}

#ButtonBoxBox
{
    margin-right: 5%;
    margin-left: 35%;
    padding-top: 30%;
    width: 60%;
    height: 20%;
    z-index: 10;
    position: absolute;
}

#ButtonBox
{
    width: 100%;
    margin: auto;
    z-index: 100;
    height: 20%;
}

#Prev
{
    font-size: 50;
    color: #ffffff;
    text-decoration: none;
    padding-left: 2%;
    opacity: 80%;
}

#Next
{
    font-size: 50;
    color: #ffffff;
    float: right;
    text-decoration: none;
    padding-right: 2%;
    opacity: 80%;
    animation-name: FadeInButtons;
    animation-duration: 3s;
}


@keyframes FadeIn
{
    from {color: #000000;}
    to {color: #f1cf7f;}
}

@keyframes FadeInBackground
{
    from {color: #000000;}
    to {color: #101010;}
}

@keyframes FadeInButtons
{
    from {color: #b0b0b0;}
    to {color: #ffffff;}
}
